body {

    margin: 0;

    padding: 0;

    font-family: sans-serif;

    background-image: url("https://static01.nyt.com/images/2017/12/03/us/03colleges-01/00colleges-01-videoSixteenByNineJumbo1600.jpg");

    background-size: cover;





}





.sign-up-form h1 {

    color: white;

    margin-bottom: 20px;




}

.input-box {

    border-radius: 20px;

    padding: 10px;

    margin: 10px;

    width: 80%;

    border: 1x solid red;

    outline: none;



}



.signup-btn {

    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 10px 10px;



}


a {
    color: brown;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

}

b {

    color: black;
    font-weight: unset;
    text-decoration: none;
}

p {
    font-size: 15px;
}

c {
    font-size: 10px;
}

img {

    width: 70px;

    margin-top: -50px;

    border-radius: 50%;
    background-color: whitesmoke;

}